[submodule "lib/epr-register-enrol-management-be"]
	path = lib/epr-register-enrol-management-be
	url = git@github.com:DEFRA/epr-register-enrol-management-be.git
[submodule "lib/epr-register-enrol-management-fe"]
	path = lib/epr-register-enrol-management-fe
	url = git@github.com:DEFRA/epr-register-enrol-management-fe.git
[submodule "lib/epr-register-enrol-backend"]
	path = lib/epr-register-enrol-backend
	url = git@github.com:DEFRA/epr-register-enrol-backend.git
[submodule "lib/epr-register-enrol-frontend"]
	path = lib/epr-register-enrol-frontend
	url = git@github.com:DEFRA/epr-register-enrol-frontend.git
